* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  color:white;
}

body {
  overflow:hidden;
  background:black;
}

canvas {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:-1;
}

.nav {
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav ul {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav a {
  text-decoration:none;
  font-size:16px;
  opacity:0.8;
  transition:0.3s;
}

.nav a:hover {
  opacity:1;
  text-shadow:0 0 10px cyan;
}

.logo {
  font-weight:600;
  font-size:20px;
  text-shadow:0 0 15px #ff66cc;
}

.hero {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.title {
  font-size:60px;
  font-weight:300;
}

.title span {
  font-weight:600;
  text-shadow:0 0 20px #ff99cc;
}

.subtitle {
  font-size:20px;
  opacity:0.8;
  margin-top:10px;
}

