* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background: #000;
  color: #00ff99;
  overflow: hidden;
}

#bg {
  position: fixed;
  top:0;
  left:0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: relative;
  z-index: 10;
}

header h1 {
  font-weight: 600;
}

nav a {
  margin-left: 20px;
  color: #00ff99;
  text-decoration: none;
}

.hero{
  position: absolute;
  top:40%;
  left:8%;
  z-index: 5;
}

.hero h2{
  font-size: 38px;
}

.hero h3{
  font-size: 26px;
  margin-top:10px;
}


